.container {
  max-width: 746px;
  margin-inline: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 0.75rem;
  box-shadow: 0 0 2rem rgba(var(--text-color-rgb), 0.1);
}

.error {
  color: red;
}